{% extends 'layout.html' %}
{% block head %}
<title>Country</title>
{% endblock %}

{% block body %}

<div class="d-flex justify-content-center align-items-center container">

    <div class="row">
        <form action="/capital" class="form-inline">
            <label for="country" class="mr-sm-2">Country Name: </label>
            <input type="text" class="form-control mb-2 mr-sm-2" name="country" id="country">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
    </div>
</div>

{% endblock %}